body{
  background-color: #BDBDBD;
}

h1{
  color: #000000;
  font-family: cursive;
  text-align: center;
}
h2{
  color: #34TRGB;
  font-size: 30px;
  text-align: center;
}
p{
  font-family: cursive;
}

ul{
  font-size: 20px;
  line-height: 23px;
}
